* {
    padding: 0;
    margin: 0;
}

img
{
    width: 100%;
    display: block;
}

.container
{
    width: 100%;
}

.sub-container {
    width: 80%;
    margin: 0 auto;
}

.science-sub-container {
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: rgb(226, 241, 225);
}

body
{
    background: #e2e0e0;
    font-family: 'Merriweather', serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* =====HEADER====== */

.container-nav
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.site-title h1 {
    font-size: 2.25rem;
    font-weight: 500;
    padding: 0.5em 0.5em 0 1em;
    border-bottom: 1px solid rgb(75, 178, 34);
    color: black;
}

.site-title span {
    color: rgb(23, 136, 8);
}

.active {
    background-color: rgba(193, 233, 193,0.6);
    padding: 0.25em 1em;
    border-radius: 1em;
}

nav,
.nav1,
.nav2
{
    display: flex;
    padding: 0.5em;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.nav1 a,
.nav2 a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    padding: 1em auto;
    transition: all 700ms ease-out;
}

.nav1 a:hover,
.nav2 a:hover,
.nav1 a:focus,
.nav2 a:focus {
    background-color: rgb(193, 233, 193);
    padding: 0.25em 4em;
    border-radius: 1em;
}

.nav2 a {
    font-weight: 400;
}

.nav1 li,
.nav2 li {
    margin-bottom: 1em;
}

.logo {
    height: 100px;
    width: 130px;
    object-fit: cover;
    margin: 0.25em auto;
}

.poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #006a4e;
    margin-bottom: 2em;
} 

.poster-image {
    order: -1;
}

.slogan {
    color: ghostwhite;
    text-align: center;
    padding: 2em 0.15em;
}

.slogan h1 {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.learn-more,
.get-started {
    color: ghostwhite;
    padding: 1.25em 0;
    border-radius: 0.5em;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.5em;
    width: 12em;
    border: none;
    cursor: pointer;
}

.learn-more {
    background-color: rgb(88, 160, 6);
    transition: all 200ms ease-in-out;
}

.learn-more:hover,
.learn-more:focus {
    background-color: rgb(76, 138, 5);
}

.learn-more::before {
    content: '\27A4';
    padding-right: 0.5em;
    color: ghostwhite;
}

.get-started {
    background-color: rgb(27, 182, 161);
    transition: all 200ms ease-in-out;
    padding: 1.25em 0;
    padding-top: 1.42em;
    border-radius: 0.5em;
}

.get-started:hover,
.get-started:focus {
    background-color: rgb(27, 151, 135);
}

.subtitle {
    font-size: 1rem;
    text-align: start;
    padding: 1em 1em 1em 5em;
    font-weight: 700;
    color: rgb(78, 77, 77);
}

.features {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.featured-news {
    text-align: left;
}

.features div,
.features img, 
.science-articles div,
.science-articles img {
    margin-bottom: 1.5em;
}

.features img 
.science-articles img {
    object-fit: cover;
    width: 100%;
}

.features h3,
.science-articles h3 {
    margin-bottom: 0.75em;
    font-size: 1rem;
}

.features a, 
.features h3,
.science-articles a, 
.science-articles h3 {
    color: rgb(1, 128, 106);
}

.features a:hover,
.features a:focus,
.science-articles a:hover,
.science-articles a:focus {
    color: rgb(2, 88, 74);
}

.features p, 
.science-articles p {
    font-weight: 300;
    font-size: 0.85rem;
    line-height: 1.75em;
}

.slogan2 {
    color: ghostwhite;
    padding: 1.75em ;
}

.slogan2 h2 {
    font-size: 1.15rem;
    margin-bottom: 0.75em;
}

.slogan2 p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1em;
    line-height: 1.75em;
}

.more {
    font-size: 0.85rem;
    margin-left:0.5em ;
    font-weight: 500;
    color: rgb(1, 128, 106);
}

.more:hover,
.more:focus {
    color: rgb(2, 88, 74);
}

.ebird-mobile {
    display: flex;
    flex-direction: column;
    background: #006a4e;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10em;
    position: relative;
    margin-bottom: 1.75em;
}

.mobiles {
    margin-bottom: 1em;
}

.mobo-info h2 {
    color: chartreuse;
    font-size: 1.25rem;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

.mobo-info p {
    color: ghostwhite;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.75em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.store-img1 {
    width: 8.5em;
    /* padding-left: 1.25em; */
    position: absolute;
    bottom: 2em;
    left: 1em;
    border: 0.2px solid white;
    border-radius: 7px;
}

.store-img2 {
    width: 9em;
    border: 1px solid white;
    border-radius: 7px;
    /* padding-left: 1.25em; */
    position: absolute;
    bottom: 2em;
    left: 10.5em;
}

.solo-get-started {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 1em auto;
}

.sponsors img {
    margin-bottom: 1em;
}

.sponsors div {
    border-bottom: 2px solid rgb(132, 210, 30);
    margin-bottom: 1em;
}

.sponsors p {
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 1.75em;
    margin-bottom: 1em;
}

.sponsors h4 {
    margin-bottom: 1em;
    text-align: center;
    font-weight: 300;
    font-size: 0.85rem;
    color: rgb(90, 90, 90);
}

#ftr {
    background: rgb(16, 37, 33);
}

.footer-style {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10em 10em;
    row-gap: 1.75em;
    padding: 1.25em;
    font-size: 0.85rem;
    margin-bottom: 1em;
    padding-bottom: 8em;
    border-bottom: 1px solid rgb(150, 207, 185);
}

.footer-lists {
    margin:1em;
    margin-bottom: 1em;
}

.footer-lists li {
    margin-bottom: 0.25em;
    font-size: 0.8rem;
    font-weight: 300;
}

.footer-lists a {
    color: rgb(164, 255, 210);
    font-weight: 300;
}

.footer-lists a:hover,
.footer-lists a:focus {
    color: rgb(212, 253, 232);
}

.list-heading {
    font-weight: 900;
    margin-bottom: 1em;
    font-size: 0.9rem;
    border-bottom: 0.5px solid rgb(150, 207, 185);
}

.ad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6em 6em;
    row-gap: 0em;
    padding: 1em;
    align-items: center;
    color: rgb(206, 255, 236);
}

.ad h2 {
    font-size: 3rem;
}

.ad  span {
    color: rgb(23, 136, 8);
}

.donate {
    padding: 1em ;
    border-radius: 0.5em;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.5em;
    width: 8em;
    border: none;
    background: rgb(236, 51, 51);
    color: rgb(206, 255, 236);
}

.donate:hover,
.donate:focus {
    background:rgb(180, 25, 25) ;
}

.store-ad {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

.ad-store-img1 {
    width: 8.20em;
    margin: 0 0.25em;
    border: 0.2px solid white;
    border-radius: 7px;
}

.ad-store-img2 {
    width: 8.25em;
    margin: 0.25em;
    border: 0.2px solid white;
    border-radius: 7px;
}

.social img {
    width: 100%;
}

.social {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.handles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.handles div {
    margin: 0.2em;
}

.social button {
    background: rgb(3, 163, 226);
    padding: 0.5em;
    font-weight: 700;
    font-size: 1rem;
    width: 2.5em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}

.ebird-store button {
    margin: 0.5em;
    padding: 0.5em;
    font-weight: 700;
    font-size: 1rem;
    width: 7em;
    height: 2.3em;
    border: none;
    border-radius: 0.25em;
    color: rgb(206, 255, 236);
    text-align: center;
}

.social button:hover,
.social button:focus {
    background: rgb(3, 113, 156);
}

.explore-main {
    display: flex;
    flex-direction: column;
    color: ghostwhite;
    margin-bottom: 2em;
}

.explore-main h1 {
    margin-bottom: 0.5em;
    font-size: 1.75rem;
}

.explore-main p {
    margin-bottom: 0.75em;
    font-size: 0.85rem;
}

.explore-main div {
    padding: 3em;
}

.explore-main form {
    position: relative;
}

.specie {
    background: url(assets/explore-main1.jpg);
    background-size: cover;
    background-position: center;
}

.region {
    background: url(assets/explore-main2.jpg);
    background-size: cover;
    background-position: center;
}

.searchBox {
    border: none;
    border-radius: 30px;
    font-size: 1.15rem;
    padding: 1em 1em 1em 2.5em;
    width: 90%;
    color: rgb(180, 179, 179);
    outline: none;
}

.search-icon
{
    width: 1.75em;
    position: absolute;
    top: 18px;
    left: 7px;
    z-index: 1;
}

.explore-subtitle {
    font-size: 1rem;
    margin-bottom: 1.25em;
    font-weight: 700;
    color: rgb(78, 77, 77);
}

.more-explore {
    display: grid;
    grid-template-rows:repeat(4,100px) ;
    border-bottom: 1px solid rgb(168, 167, 167);
    margin-bottom: 2em;
    padding-bottom: 2em;
}

.specie-need {
    display: grid;
    grid-template-rows: repeat(2,100px);
    border-bottom: 1px solid rgb(168, 167, 167);
    margin-bottom: 2em;
    padding-bottom: 2em;
}

.articles {
    display: flex;
    margin-bottom: 1em;
    justify-content: space-around;
}

.thumbnail {
    width: 22%;
}

.thumbnail-img {
    width: 100%;
    object-fit: cover;
    max-height: 85px;
    min-width: 50px;
}

.info {
    width: 70%;
}

.info a,
.total-articles a {
    color:rgb(1, 128, 106);
}

.info h4,
.total-articles h4 {
    margin-bottom: 0.5em;
    font-size: 1rem;
    font-weight: 700;
}

.info a:hover,
.info a:focus,
.total-articles a:hover,
.total-articles a:focus {
    color: rgb(2, 88, 74);
}

.info p,
.total-articles p {
    font-size: 0.8rem;
    font-weight: 300;
}

.total {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1em;
}

.total-articles {
    border: 1px solid rgb(168, 167, 167);
    margin-bottom: 1em;
    padding: 1em;
}

.birding-skill {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.submission {
    background: rgb(190, 190, 190);
    padding: 2em;
}

.science-poster {
    background: url(assets/science-poster.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 45vw;
}

.science-main {
    background: rgba(48, 47, 47, 0.7);
    max-width: 450px;
    height: 150px;
    padding: 2em;
    margin-left: 3em;
    color: ghostwhite;
}

.science-main h1 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.science-main p {
    font-weight: 300;
    font-size: 0.95rem;
    line-height: 2em;
}

.science-subtitle {
    font-size: 1rem;
    text-align: start;
    padding: 1em 1em 1em 2em;
    font-weight: 700;
    color: rgb(78, 77, 77);
}

.science-article-container {
    width: 100%;
    background:rgb(190, 190, 190) ;
}

.science-articles {
    display: grid;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.author {
    margin-bottom: 0.5em;
    font-size: 0.5rem;
    font-weight: 300;
    color: rgb(117, 116, 116);
}

.science-articles img {
    height: 200px;
    object-fit: cover;
    margin-bottom: 0;
}

.science-article-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.science-article-secondary {
    display: flex;
    flex-direction: column;
}

.science-secondary1,
.science-secondary2 {
    display: flex;
    flex-direction: column;
}


@media (min-width:854px)
{
    .container-nav {
        flex-direction: row;
    }

    nav,
    .nav1,
    .nav2 {
        flex-direction: row;
    }

    .nav1 a,
    .nav2 a {
        margin-left: 1.25em;
        font-size: 1rem;
    }

    .site-title h1 {
        border-bottom: none;
    }

    .poster {
        flex-direction: row;
        align-items: center;
    }
    
    .poster-image {
        width: 50%;
    }
    
    .slogan {
        width: 50%;
        order: -2;
    }

    .features {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .features div {
        width: 30%;
    }

   .poster2-img {
       width: 75%;
       height: 100%;
   }
   
   .slogan2 {
       width: 25%;
   }
   
   .ebird-mobile {
       flex-direction: row;
       padding-bottom: 5em;
   }

   .mobo-info {
       order: -1;
       display: flex;
       flex-direction: column;
       justify-content: center;
   }

   .sponsors {
       flex-direction: row;
       justify-content: space-between;
       align-items: flex-start;
       width: 90%;
   }

   .sponsors div {
       border-right:2px solid rgb(132, 210, 30);
       border-bottom: none;
       width: 25%;
       margin-right: 2em;
       padding-right:2em ;
   }

   .footer-style {
       grid-template-rows: 10em;
       grid-template-columns: repeat(4,1fr);
   }

   .ad {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 6em;
   }

   .handles {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
   }

   .handles div {
       margin: 0.2em;
   }
    
   .donate {
    margin-left: 4em;
   }

   .explore-main {
       flex-direction: row;
   }

   .explore-main div {
       padding: 10em 3em;
       width: 50%;
   }

   .explore-subtitle {
        font-size: 1rem;
        text-align: start;
        padding: 1em 1em 1em 0.75em;
        font-weight: 700;
        color: rgb(78, 77, 77);
   }

   .more-explore {
        grid-template-rows:repeat(2,100px) ;
        grid-template-columns: repeat(2,1fr);
    }

    .specie-need {
        grid-template-rows: repeat(1,100px);
        grid-template-columns: repeat(2,1fr);
    }

    .total {
        flex-direction: row;
    }

    .total-articles {
        width: 28%;
    }

    .birding-skill {
        flex-direction: row;
        justify-content: space-between;
    }

    .birding-skill article {
        width: 30%;
    }

    .submission {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .submission article {
        width: 35%;
    }

    .science-sub-container {
        width: 80%;
        margin: 0 auto;
    }

    .science-subtitle {
        padding: 1em 1em 1em 0em;
    }

    .science-article-secondary {
        flex-direction: row;
    }

    .science-articles {
        grid-template-columns:1fr;
        margin: 0;
    }
    
    .science-article-main {
        flex-direction: row;
        justify-content: space-between;
    }

    .article-main-img {
        width:35%;
    }

    .article-main-img img {
        height: 230px;
    }

    .article-main-text {
        width: 60%;
    }

    .article-main-text h3 {
        font-size: 1.35rem;
    }

    .author {
        margin-bottom: 0em;
    }

    .article-main-text p {
        font-size: 0.9rem;
    }

    .science-article-secondary {
        flex-direction: row;
        justify-content: space-between;
    }

    .science-secondary1,
    .science-secondary2 {
        width: 48%;
        flex-direction: row;
        justify-content: space-between;
    }

    .science-secondary1 img,
    .science-secondary2 img {
        height: 100px;
    }

    .article-secondary1-img,
    .article-secondary2-img {
        width: 30%;
    }

    .article-secondary1-text,
    .article-secondary2-text {
        width: 65%;
    }
}

@media (max-width:305px)
{
    .store-img1 {
        bottom: 4em;
        left: 0;
    }
    
    .store-img2 {
        bottom: 0.5em;
        left: 0;
    }

    .footer-style {
        grid-template-rows: repeat(4,10em);
        grid-template-columns: 1fr;
        column-gap: auto;
    }
}

@media (min-width:618px) and (max-width:843px)
{
    .store-ad,
    .social {
        flex-direction: row;
        justify-content: space-around;
        margin: 0.5em;
        align-items: center;
    }

}

@media (max-width:478px) {
    .science-main {
        z-index: -2;
        width: 0;
        height: 0;
    }
    .science-main h1,
    .science-main p {
        font-size: 0;
    }
}

